@font-face {
  font-family: 'neonderthawregular';
  src: url('./fonts/neonderthaw-regular-webfont.woff2') format('woff2'),
       url('./fonts/neonderthaw-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}


a {
  text-decoration: none;
  color: inherit;
}

.slider-single-content {
  box-shadow: none !important;
}

body {
  background-color: rgb(22, 22, 22);
  color: #ffffff;
  margin: 0;
  border: 0;
  font-family:'Courier New', Courier, monospace;
}

.App {
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: -20px;
  right: -20px;  */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  
}

.main-content{
  padding: 0 50px 0 50px;
  background-color: black;
  max-width: 80vw ;
}
.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.neonFont {
  font-family: neonderthawregular;
  font-size: 4rem;
}

.carousel {
  height: 400px;
  width: 500px;
  margin-bottom: 20px;
  
}

.pc-grid {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  
}
.logo {
  display: flex;
  align-items: center;
  margin: 0 20px 0 20px;
}
.logo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  color: inherit;
  text-decoration: none;
  
}
.logo-header > .md {
  font-size: 64px;  
}

.color {
  color: #FF28B9;
  color: #C3017E;
  color: #00313F;
  color: #00738E;
  color: #00DADB;
}

nav {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 25px;
  background-color: rgba(0, 0, 0, 1);
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  display: flex;
  text-align: left;
}

ul {
  padding: 0;
}
nav > ul > li {
  font-size: 20px;
  font-weight: 900;
  margin: 12px;
  display: flex;
}

nav > ul > li:hover {
  color: #28D7FE;;
}
li{
  list-style: none;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #28D7FE 1px 0 20px;
  margin: 30px 0 30px 0;
  border-radius: 25px;
  flex-wrap: wrap;
}
.about-content > p {
  margin-left: 10px;
  text-align: left;
  font-size: large;
  width: 700px;

}
.about-content > img {
  width: 250px;
  border-radius: 30%;
  margin: 10px 10px 10px 30px;
  box-shadow: #28D7FE 1px 0 20px;
}
.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list-skill {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.list-skill > li {
  font-size: larger;
  display: flex;
  align-items: center;
  margin: 10px;
}
.list-skill > li > img {
  filter: grayscale(1);
  width: 50px;
  height: 50px;
}
.list-skill > li > img:hover {
  filter: none;
}
.flux {
  color: #426DFB;
  text-shadow: 0 0 3vw #2356FF;
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}
h2 {
  color: #28D7FE;
  text-decoration: underline;
}
@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

@keyframes fluxHover {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.logo-header:hover {
  color: #FB4264;
  text-shadow: 0 0 3vw #F40A35;
  transition-delay: 50ms;
  animation: fluxHover 2s linear infinite;
  -moz-animation: fluxHover 2s linear infinite;
  -webkit-animation: fluxHover 2s linear infinite;
  -o-animation: fluxHover 2s linear infinite;
  animation-delay: 50ms;
}

.projects-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 700px;
  margin: 20px;
}
.project-card > img {
  width: 300px;
  height: 250px;
}
.card-links {
  margin-bottom: 10px;
}
.card-links > a {
  margin: 10px;
  

  font-size: larger;
}
.tool-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.tool-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.tool-list > li > img {
  width: 50px;
  height: 50px;
}

.Typewriter__wrapper {
  font-size: x-large;
}

.contact-content {
  display: flex;
  justify-content: center;
}
.contact-content > form {
  margin: 25px;
  display: flex;
  flex-direction: column;

}

.contact-content > form > input, textarea {
  background: transparent;
  border: 2px solid #00313F;
  border-radius: 0.5rem;
  color: white;
  padding: 1.5rem;
  resize: none;
  width: 300px;
  margin: 5px;
}

.contactopt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  box-shadow: #28d7fe 1px 0 20px 5px;
  border-radius: 25px;
  width: 250px;
}

.contactopt > ion-icon {
  font-size: x-large;
}

.contactopt > a {
  color: #28D7FE;
}

.form-button:hover {
  background-color: #28d7fe;
  color: black;
}