html {
    height: auto;
  }
  
  body {
    height: auto;
  }
  
#root {
    height: auto; /* remove this line to see div.app is no more 100% height */
    
  }
  
  div.app {
    height: 100%;
    
  }